<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bookcontent</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<!--
<div class="header text-center ">
 <a href="/index/" rel="external nofollow" style="float: left;">
  <i class="fa fa-home fa-2x" aria-hidden="true">Home</i>
 </a>
 <h3>{{ book_name }}</h3>
</div>
-->


{% load static %}
<!--下面的应该由后端搜索得到-->
<div class="content" style="border: solid 1px red;">
    <div class="hua" style="min-height: 500px;border: solid 1px black;">
        <img src="{{ paintsurl }}" alt="">
    </div>
    <div class="text" style="min-height: 200px;border: solid 1px black;display: inline-block;">

         {% for content in book_content %}
             <pre style="white-space: pre-wrap;word-wrap: break-word;font-family: 楷体; font-size: 27px;">{{ content }}</pre>
         {% endfor %}
    </div>

    <!--
    <div class="text" style="width: 45%;border: solid 1px black;display: inline-block">文字</div>
    <div class="hua" style="width: 45%;border: solid 1px black;display: inline-block;float: right;">漫画</div>
    -->
</div>


{{ user.username }}
<div>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="bookname" value={{ book_name }}>
        <input type="hidden" name="page" value={{ page }}>
        <label for="id_paintsfile">个人作品：</label>
        <input type="file" name="paints" accept="paints/*" id="id_paintsfile"><span>{{ errors_obj.paints.0 }}</span>
        <input type="submit" value="确定">
    </form>
</div>
<div class="pagination" style="width: 300px; height: 100px;">
 <div class="col-md-4 " style="float: left">
  {% if book_content.has_previous %}
  <i class="fa fa-arrow-left" aria-hidden="true">
   <a href="?book_name={{ book_name }}&page={{ book_content.previous_page_number }}" rel="external nofollow" >
    上一页
   </a>
  </i>

  {% endif %}
 </div>

 <div class="col-md-4 " style="float: left;display: inline-block">
   第{{ book_content.number }}页/共{{ book_content.paginator.num_pages }}页
 </div>
 {% if book_content.has_next %}
 <div class="col-md-4 " style="float: left">
  <a href="?book_name={{book_name}}&page={{ book_content.next_page_number }}" rel="external nofollow" >
   下一页
  </a>
  <i class="fa fa-arrow-right" aria-hidden="true">
  </i>
 </div>
 {% endif %}
</div>
</body>
</html>